<div class="grid-stack-item"
     data-gs-x="{{ widget.dataGsX }}" data-gs-y="{{ widget.dataGsY }}"
     data-gs-width="{{ widget.dataGsWidth }}" data-gs-height="{{ widget.dataGsHeight }}"
     data-widget-id="{{ widget.uniqid }}" timestampNextRefresh="{{ widget.timestampNextRefresh }}">

    <div class="grid-stack-item-content">
        <div class="panel panel-default ">
            <div class="panel-heading move-widget" >
                <i class="fa {{ widget.icon }} fa-fw"></i> {{ widget.title }}
                <div class="pull-right">
                    {{ widget.timestampNextRefresh|date('H:i:s') }}
                    {% block widgetHeaderRight %}{% endblock %}
                    {% if widget.refreshAction %}
                        <i onClick="jQueryDashboard.dashboard('refreshWidget', this);" class="fa fa-times fa-fw fa-refresh"></i>
                    {% endif %}
                    <i onClick="jQueryDashboard.dashboard('removeWidget', this);" class="fa fa-times fa-fw widget-close"></i>
                </div>
            </div>
            {#<!-- /.panel-heading -->#}
            <div class="panel-body" style="height:100%">
                {% block widgetContent %}
                    {{ widget.content|raw }}
                {% endblock %}
            </div>
            {#<!-- /.panel-body -->#}
            <div class="panel-footer">
                <i class=""></i>
            </div>
        </div>
    </div>
</div>

{% set javascript %}
    {{ widget.javascript|raw }}
{#<script>#}

    {#$(function () {#}
        {#if (timer{{ widget.uniqid }}) {#}
            {#//clearTimeout(timer{{ widget.uniqid }});#}
            {#clearInterval(timer{{ widget.uniqid }});#}
            {#clearInterval(timer{{ widget.uniqid }});#}
        {#}#}

        {#var timer{{ widget.uniqid }} = setInterval(#}
                {#function () {#}
                    {#if (jQueryDashboard.dashboard('canRefresh')) {#}
                        {#jQueryDashboard.dashboard('refreshWidgetById', '{{ widget.uniqid }}');#}
                        {#clearInterval(timer{{ widget.uniqid }});#}
                    {#}#}
                {#}, {{ widget.refreshInterval * 1000 }});#}
    {#});#}

{#</script>#}

{% endset %}

{{ addJavascript(javascript)  }}