<div class="grid-stack-item"
     data-gs-x="{{ widget.dataGsX }}" data-gs-y="{{ widget.dataGsY }}"
     data-gs-width="{{ widget.dataGsWidth }}" data-gs-height="{{ widget.dataGsHeight }}"
     data-widget-id="{{ widget.uniqid }}">

    <div class="grid-stack-item-content">
        <div class="panel panel-default ">
            <div class="panel-heading move-widget" >
                <i class="fa fa-bell fa-fw"></i> {{ widget.title }}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                {#{{ dump(widget) }}#}
                {% block widgetContent %}
                    {{ widget.content|raw }}
                {% endblock %}
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <i class=""></i>
            </div>
        </div>
    </div>
</div>
