<li id="{{ box.uniqid }}" class="widget">
    <div class="dashboardWidget">
        <div class="header">
            {{ box.title }}
            <div class="actions">
                {% block widgetActions %}
                    {% if box.refreshAction %}
                        <div class="action refresh" onClick="jQdashboard.dashboard('refreshWidget', this);;">Refresh
                        </div>
                    {% endif %}
                    {% if box.closeAction %}
                        <div class="action close" onclick="jQdashboard.dashboard('removeWidget', this);">X</div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
        <div class="content">
            {% if box.ajaxLoad and not options.ajax %}
                Ajaxload

                <script>
                    $(document).ready(function () {
                        jQdashboard.dashboard('refreshWidgetById', '{{ box.uniqid }}');
                        //dashboardRefreshWidgetById();
                    });
                </script>
            {% else %}
                {% block widgetContent %}
                    {{ box.content|raw }}
                {% endblock %}
            {% if box.refreshInterval != 0 %}
                <script>
                    clearTimeout(timer{{ box.uniqid }});

                    var timer{{ box.uniqid }} = setTimeout(
                            function () {
                                jQdashboard.dashboard('refreshWidgetById', '{{ box.uniqid }}');
                            }, {{ box.refreshInterval * 1000 }});
                </script>
            {% endif %}

            {% endif %}
        </div>
    </div>
</li>