{% extends "widget.twig" %}

{% set javascript %}
    $(function () {
        var data = [
            {% for item, value in widget.data %}
            ['{{ item }}', {{ value }}]{% if not loop.last %},
            {% endif %}
            {% endfor %}
        ];

        jQuery('#{{ widget.uniqid }}Chart').highcharts({
            chart: {
                type: 'pie',
                spacingTop: 0,
                spacingBottom: 0,
                marginTop: 0,
                marginbottom: 0,
                margin: 0,
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.1f}%)'
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    //depth: 35,
                    dataLabels: {
                        enabled: false,
                        format: '<b>{point.name}</b>: {point.y}'
                    }
                }
            },
            series: [
                {
                    type: 'pie',
                    name: '',
                    data: data
                }
            ]
        });
    });
{% endset %}

{% block widgetContent %}
    <div id="{{ widget.uniqid }}Chart" width="100%"></div>
    {{ addJavascript(javascript)  }}
{% endblock %}