{% extends "widget.twig" %}

{% block widgetContent %}
    <div id="{{ box.uniqid }}Chart" style="height: 400px"></div>

    <script>$(function () {
            var data = [
                {% for item, value in box.data %}
                ['{{ item }}', {{ value }}]{% if not loop.last %},
                {% endif %}
                {% endfor %}
            ];

            jQuery('#{{ box.uniqid }}Chart').highcharts({
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 45,
                        beta: 0
                    }
                },
                title: {
                    text: '{{ box.titleLong }}'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.1f}%)'
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 35,
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                        }
                    }
                },
                series: [
                    {
                        type: 'pie',
                        name: 'Browser share',
                        data: data
                    }
                ]
            });
        });
    </script>
{% endblock %}